*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    display: none;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

.logininput{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}
/* 
input[type="submit"]{
    background-color: royalblue;
    color: white;
} */

.logIn{

    background-color: royalblue;
    color: white;
    font-size: 20px;
    line-height: 48px;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 0.2px;
    width: 80%;

}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 20.5px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

/* nkdl;kl */

.signup{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 650px; */
    width: 450px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.1);
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px solid black;
    /* display: none; */
   
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.top>div>h2{
    font-size: 34px;
    font-weight: bold;
    font-family: sans-serif;
}

.top>div>#signpara{
  color: #606770;
  line-height: 25px;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 3px;
}

.top img{
    padding-bottom: 30px;
    cursor: pointer;
    width: 35px;
}

#signupLine{
    border: 1px solid #ccc;
    width: 450px;
    margin: 15px 0px;
}
.signup_body{

    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.same{
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.name{
    display: flex;
    gap: 10px;
    margin: -16px 0;
    font-size: 15px;
    
}

.bottom{
    /* border: 2px solid blue; */
    margin-top: 22.5px;
}

.bottom input{
    height: 35px;
    width: 95%;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 15px;
    border-radius: 10px;
}