*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

/* mmnkldjmfll;f; */

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
} 

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222,220,224) ;

}

.container{
    margin: -175px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftpart{
    width: 40%;
    margin-right: 25px;

}
h1{
    color: royalblue;
    font-size: 60px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 10px -10px 15px rgba(0,0,0,0.1), 10px 10px 15px rgba(0,0,0,0.1);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15.5px;
    border-radius: 10px;
   
}

input[type="submit"]{
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
    font-size: 19px;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.creteaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}